
.waxed-boilerplate {

}

  .waxed-beer-rating div.rating i,
  .waxed-beer-rating div.reviews
   {
    cursor:pointer;
  }

  @media (max-width: 601px) {
      .s0 {
          display: none;
      }
  }

  @media (min-width: 601px) and (max-width: 992px) {
      .m0 {
          display: none;
      }
  }

  @media (min-width: 992px) {
      .l0 {
          display: none;
      }
  }
