
.waxed-boilerplate {

}

  .waxed-beer-rating div.rating i,
  .waxed-beer-rating div.reviews
   {
    cursor:pointer;
  }

  @media (max-width: 601px) {
      .s0 {
          display: none;
      }
  }

  @media (min-width: 601px) and (max-width: 992px) {
      .m0 {
          display: none;
      }
  }

  @media (min-width: 992px) {
      .l0 {
          display: none;
      }
  }

 .waxed-more-label {display:inline;}
 .waxed-less-label {display:none;}

details[open] .waxed-more-label {display:none;}
details[open] .waxed-less-label {display:inline;}


.waxed-beer-expansion-img.waxed-vcenter {
    position: relative;
    overflow:hidden;
    height:100%;
}

.waxed-beer-expansion-img.waxed-vcenter img{
    position: absolute;
    top:-100%; left:0; right: 0; bottom:-100%;
    margin: auto;
}
