
.waxed-boilerplate {

}

  @media (max-width: 600px) {
      .s0 {
          display: none;
      }
  }

  @media (min-width: 601px) and (max-width: 992px) {
      .m0 {
          display: none;
      }
  }

  @media (min-width: 993px) {
      .l0 {
          display: none;
      }
  }
